{% extends 'base/index.html' %}

{% block content %}
    <a class="add-photo" href="{% url 'upload' %}">
        <i class="fa-solid fa-plus fa-xl"></i>
    </a>
    <div class="container">
        {% for photo in object_list %}
            <div class="gallery-item-container">
                <a href="{% url 'photo' photo.id %}">
                    <img class="gallery-item" src="{{photo.img}}">
                </a>
            </div>
        {% empty %}
            <h3>Nothing Here</h3>
        {% endfor %}
    </div>
{% endblock %}